@import 'normalize.css';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* @import './styles/allinone.css'; */
@import './styles/term.css';
.term {
  font-family: 'term-font', sans-serif;
}
/* こいつtermの時に読み込みたくないな*/
body {
  font-family: 'allinone-font', sans-serif;
}

.font-awesome {
  height: 1em;
  vertical-align: -0.125em;
  width: 1em;
}
