@font-face {
    font-display: swap;
    font-family: 'allinone-font';
    font-weight: 400;
    src: url(/fonts/allinone-font.woff2) format('woff2');
  }
@font-face {
    font-display: swap;
    font-family: 'allinone-font';
    font-weight: 700;
    src: url(/fonts/allinone-font-bold.woff2) format('woff2');
}


/* アルファベットのためにこれを置いてるが、これを使う上でもこれからアルファベットだけ抜き取った方が軽量化になりそう*/
@font-face {
    font-display: swap;
    font-family: 'allinone-font';
    font-weight: 400;
    src: url(/fonts/GenEi-M-Gothic-v2-Regular.woff2) format('woff2');
  }

  @font-face {
    font-display: swap;
    font-family: 'allinone-font';
    font-weight: 700;
    src: url(/fonts/GenEi-M-Gothic-v2-Heavy.woff2) format('woff2');
  }