@font-face {
    font-display: swap;
    font-family: 'allinone-font';
    font-weight: 400;
    src: url(/fonts/allinone-font.woff2) format('woff2');
  }
@font-face {
    font-display: swap;
    font-family: 'allinone-font';
    font-weight: 700;
    src: url(/fonts/allinone-font-bold.woff2) format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'allinone-font';
    font-weight: 400;
    src: url(/fonts/genei-m-gothic/normal/000.woff2) format('woff2');
  }

  @font-face {
    font-display: swap;
    font-family: 'allinone-font';
    font-weight: 700;
    src: url(/fonts/genei-m-gothic/bold/000.woff2) format('woff2');
  }