@font-face {
    font-display: swap;
    font-family: 'term-font';
    font-weight: 400;
    src: url(/fonts/time-font-normal.woff2) format('woff2');
  }
@font-face {
    font-display: swap;
    font-family: 'term-font';
    font-weight: 700;
    src: url(/fonts/time-font-800.woff2) format('woff2');
}